h1 {
  text-align: center;
  margin-top: 50px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.blogFeed-container {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: var(--primary-color);
  padding-bottom: 2.5rem;
}
